<div class="notification-container">
  @for (n of notificationService.notifications(); track n.id) {
    <div class="notification" [class]="n.type" (click)="notificationService.remove(n.id)">
      <div class="icon">
        @if (n.type === 'success') {
          <span class="material-icons">check_circle</span>
        } @else if (n.type === 'error') {
          <span class="material-icons">error_outline</span>
        } @else {
          <span class="material-icons">info_outline</span>
        }
      </div>
      <span class="message">{{ n.message }}</span>
    </div>
  }
</div>
